body {
    margin: 0;
    min-height: 100vh;
    font-family: monospace;


    position: relative;
    margin: 0;
    background: white;
    font-family: monospace;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    overflow: hidden;
    height: 100vh;
}
