body {
    position: relative;
    margin: 0;
    background: white;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    overflow: hidden;
    font-family: 'DM Mono', monospace;

    // Uncomment if vertical scaling is enabled:
    height: 100vh;
    min-height: 100vh;
}

h1,
h2 {
    margin: 0;
}

button {
    font-family: 'DM Mono', monospace;
}
