html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background: white;
    font-family: 'DM Mono', monospace;

    // display: flex;
    // overflow: hidden;

    // Uncomment if vertical scaling is enabled:
    // height: 100vh;
    // min-height: 100vh;
}

h1,
h2 {
    margin: 0;
}

button {
    font-family: 'DM Mono', monospace;
}

a {
    overflow: hidden;
    outline: none;
}

a,
a:link,
a:visited,
a:active {
    color: #000;
    text-decoration: none;
}
/*
[hidden] {
    display: none !important;
}
*/
