<header class="header__base">
    <div class="header__content">
        <h1 class="header__title">
            <a class="header__logoLink" href="https://danziger.github.io/jobjs/">
                <img class="header__logoImage" src="logo/jobjs-t-e-64.png" alt="JobJS retro logo" />
                <span class="header__logoText">JobJS</span>
            </a>
        </h1>

        <div class="header__controls">
            <label class="header__control" title="Remember data">
                <!--
                <span class="header__controlIcon" role="img" aria-label="Remember data">💾</span>
                <span class="header__controlLabel" id="coins">Remember data</span>
                -->
            </label>
        </div>
    </div>
</header>

