.panel {
    $root: &;

    &__root {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }

    &__popup {
        max-width: 552px;
        max-height: 50%;
        overflow-y: scroll;
        padding: 32px;
        box-sizing: border-box;
        width: 100%;
        background: #fff;
        box-shadow: 0 -32px 32px -32px rgba(0, 0, 0, 0.25);
    }

    // &__header {}

    &__title {
        font-family: 'DM Mono', monospace;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }

    //  &__content {}

    &__fieldset {
        display: flex;
        flex-wrap: wrap;
        border: 0;
        padding: 0;
        margin: 0;
    }

    &__legend {
        width: 100%;
        font-family: 'DM Mono', monospace;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0 8px;
    }

    &__label {
        position: relative;
        display: block;
        flex: 1 1 calc(50% - 8px);

        & + & {
            margin-left: 8px;
        }
    }

    &__labelText {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-family: 'DM Mono', monospace;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        padding: 4px 8px;
        display: block;
    }

    &__input {
        font-family: monospace;
        font-size: 18px;
        line-height: 24px;
        padding: 24px 8px 4px;
        border: 0;
        display: block;
        width: 100%;
        outline: none;
        box-sizing: border-box;
        background: transparent;
        color: #000;
        border-radius: 2px;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);

        &[disabled] {
            background: transparent;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.125);
        }

        &:focus {
            background: transparent;
        }
    }
}
